 # file: .travis.yml
language: objective-c

xcode_project: CollectionViewMenu.xcodeproj
xcode_scheme: CollectionViewMenu
xcode_sdk: iphonesimulator8.1

before_install:
  - brew update
  - brew outdated xctool || brew upgrade xctool


script:
   xctool -project CollectionViewMenu.xcodeproj -scheme CollectionViewMenu -sdk iphonesimulator8.1 ONLY_ACTIVE_ARCH=NO

